<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>Deposit Note</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <script type="text/javascript" src="javascripts/yihannote.js" async></script>
    <script type="text/javascript" src="http://latex.codecogs.com/latexit.js"></script>
    <script type="text/javascript">LatexIT.add('p',true);</script>
  </head>
  <body onkeydown="yihannote.onKeyDown(event)">
    <button onclick="yihannote.changeMode('view')">View</button>
    <button onclick="yihannote.changeMode('edit')">Edit</button>
    <button onclick="yihannote.changeMode('latex')">LaTex</button>
    <div id="latexFormContainer" onclick="yihannote.onLatexFormContainerClick(event)" class="hidden">  
      <div id="latexFormBackground">
      </div>
      <div id="latexForm">
        <form action="/LatexPost" method="post">
          Latex Content:
          <textarea name="content" id="latexFormContent"></textarea>
          <input type="hidden" name="key" id="latexFormKey"/>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    <div id="editFormContainer" onclick="yihannote.onEditFormContainerClick(event)" class="hidden">  
      <div id="editFormBackground">
      </div>
      <div id="editForm">
        <form action="/EditEntry" method="post">
          Key:
          <input type="text" name="key" id="editFormKey" placeholder="Key"/>
          Parent Key:
          <input type="text" name="parent_key" id="editFormParentKey" placeholder="Parent Key"/>
          Content:
          <textarea name="content" id="editFormContent"></textarea>
          Child Index:
          <input type="text" name="child_index" id="editFormChildIndex" placeholder="Child Index"/>
          Type:
          <input type="radio" name="type" id="editFormTypeTitle" value="title"/>Title
          <input type="radio" name="type" id="editFormTypeEquation" value="equation"/>Equation
          <input type="radio" name="type" id="editFormTypeParagraph" value="paragraph"/>Paragraph
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    <div id="note body">
      {% for section in sections %}
      <div id="{{ section.key }}" class="section sec-{{ section.type }}">
        {% if section.type == "title" %}
          <h1 class="title">{{ section.content }}</h1>
        {% endif %}
        {% if section.type == "equation" %}
          <div lang="latex" class="equation">{{ section.content }}</div>
        {% endif %}
        {% if section.type == "paragraph" %}
          <div class="paragraph">
          <p>{{ section.content }}</p>
          </div>
        {% endif %}
        {% for subsection in section.children %}
        <div id="{{ subsection.key }}" class="section sec-{{ subsection.type }}">
          {% if subsection.type == "title" %}
            <h2 class="title">{{ subsection.content }}</h2>
          {% endif %}
          {% if subsection.type == "equation" %}
            <div lang="latex" class="equation">{{ subsection.content }}</div>
          {% endif %}
          {% if subsection.type == "paragraph" %}
            <div class="paragraph">
            <p>{{ subsection.content }}</p>
            </div>
          {% endif %}
          {% for subsubsection in subsection.children %}
          <div id="{{ subsubsection.key }}" class="section sec-{{ subsubsection.type }}">
            {% if subsubsection.type == "title" %}
              <h3 class="title">{{ subsubsection.content }}</h3>
            {% endif %}
            {% if subsubsection.type == "equation" %}
              <div lang="latex" class="equation">{{ subsubsection.content }}</div>
            {% endif %}
            {% if subsubsection.type == "paragraph" %}
              <div class="paragraph">
              <p>{{ subsubsection.content }}</p>
              </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
{% endautoescape %}
