.hidden {
  display: none;
}

div.Form {
  top: 20%;
  left: 50%;
  width: 250px;
  padding: 10px 25px;
  border-radius: 10px;
  margin-left: -175px; 
  background-color: white;
  opacity: 1.0;
  border: 5px solid black;
  position: absolute;
  z-index: 1;
}

div.Form div.textWrapper {
  font-size: 16px;
  font-family: raleway;
  padding: 6px 0px 2px 0px;
}

div.Form input[type="text"] {
  width: 244px;
  font-size: 16px;
}

div.FormBackground {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.85;
  position: fixed;
  z-index: 1;
}

textarea {
  width: 244px;
  height: 160px;
  font-size: 16px;
  display: block;
}

div.radiobuttons {
  font-size: 16px;
}

input.submit {
  width: 60%;
  margin-left: 20%;
  display: block;
  text-align: center;
  background-color: #FFBC00;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

div.editing div.section:hover {
  margin: 5px;
  border: 1px solid red;
  border-radius: 5px;
}

div.latex div.sec-title:hover {
  margin: 5px;
  border: 1px solid blue;
  border-radius: 5px;
}

div#logInLogOut {
  margin: 0;
  font-size: 24px;
  width: 100%;
  height: 32px;
  text-align: right;
  background-color: yellow;
  left: 0;
  top: 0;
  position: absolute;
}

div#leftMenu {
  margin: 0;
  width: 140px;
  background-color: #00FFFF;
  position: absolute;
  left: 0;
  top: 32px;
  bottom: 0;
}

div#leftMenu div {
  position: relative;
}

div#leftMenu button, div#leftMenu a {
  width: 100%;
  border: 5px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  display: block;
}

div#leftMenu button {
  background-color: lightgreen;
}

div#leftMenu a {
  background-color: darkslateblue;
  text-decoration: none;
  color: white;
}

html,body {
  margin: 0;
  height: 100%;
  background-color: lightgray;
}

div#bodyWrapper {
  margin: 0 auto;
  width: 940px;
  height: 100%;
  background-color: white;
  position: relative;
}

div#noteBody {
  margin: 0;
  padding: 8px;
  left: 160px;
  right: 20px;
  bottom: 0;
  top: 32px;
  position: absolute;
  overflow: auto;
}

h1 {
  counter-reset: h2counter;
}

h2:before {
  content: counter(h2counter) ".\0000a0\0000a0";
  counter-increment: h2counter;
}

h2 {
  counter-reset: h3counter;
}

h3:before {
  content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
  counter-increment: h3counter;
}

h3 {
  counter-reset: h4counter;
}

h4:before {
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
  counter-increment: h4counter;
}

h4 {
  counter-reset: h5counter;
  margin: 1em 0;
  font-size: 1em;
}

h5:before {
  content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0";
  counter-increment: h5counter;
}

h5 { 
  font-size: 1em;
  margin: 1em 0;
}
