.hidden {
  display: none;
}

div#editFormBackground {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.85;
  position: fixed;
}

div#editForm {
  left: 30%;
  top: 20%;
  height: 40%;
  width: 40%;
  background-color: white;
  opacity: 1.0;
  border: 5px solid black;
  position: fixed;
}

div#editForm input[type=text] {
  display: block;
}

div#latexFormBackground {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  opacity: 0.85;
  position: fixed;
}

div#latexForm {
  left: 30%;
  top: 20%;
  width: 40%;
  height: 40%;
  background-color: white;
  opacity: 1.0;
  border: 5px solid black;
  position: fixed;
}

div#latexForm form {
  height: 80%;
  margin: 5px 5px 5px 5px;
}

div#editForm form {
  height: 80%;
  margin: 5px 5px 5px 5px;
}

div#latexForm textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid red;
  overflow: hidden; 
}

div#editForm textarea {
  display: block;
  width: 100%;
  height: 60%;
  overflow: hidden;
}

div.editing div.section {
  margin: 5px 5px 5px 5px;
  border: 1px solid red;
}

div.latex div.sec-title {
  margin: 5px 5px 5px 5px;
  border: 1px solid blue;
}
